
html {
    background-color: #df91a4;
}

.header {
    display: flex;
    background-color: #e5b0c3;
    justify-content: space-between;
    width: 100%;
    font-family: 'Bad Script';
    align-items: center;
    padding: 0;
}

h1 {
    color: white;
    font-size: 40px;
    padding-left: 2%;
    font-weight: bold;
    text-shadow: 2px 2px #df91a4;
}

h2 {
    color: white;
    text-shadow: 1px 1px #df91a4;
    font-size: 30px;
    font-family: 'Bad Script';
}

ol {
    color: white;
    font-size: 20px;
}

.header-img {
    display: block;
    height: 100px;
    align-items: center;
    padding: 5px 5px;
    border-radius: 50%;
  }

.content {
    display: flex;
    background-color: #f4e8e8;
    height: auto;
    font-family: 'Gudea';
    padding-top: 15px;
    flex-direction: column;
    padding-left: 1%;
}

.content-img {
    display: block;
    height: 200px;
    padding-bottom: 15px;
}

.goal {
    display: flex;
    background-color: #e5b0c3;
    padding-left: 500px;
}

.content-article {
    background-color: #e5b0c3;
    padding-left: 3%;
}